service_account_key_file = "/home/groot/.ssh/yc_key.json"
cloud_id                 = "b1gxx6b0a78vi3gg0v07"
folder_id                = "b1gxxagjev1g87f75vkt"
zone                     = "ru-central1-a"
yc_token                 = "y0_AATuwQXXXXDmTXb90HfZ51fS_AgXXXXBu28ni-iSccpo03gurBQtzeE"
