[Unit]
Description=Flask Application

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/reddit/post-py
ExecStart=/home/ubuntu/reddit/venv/bin/python /home/ubuntu/reddit/post-py/post_app.py
Restart=always
Environment=POST_DATABASE_HOST=192.168.56.10
Environment=POST_DATABASE=posts
Environment=POST_DATABASE_PORT=27017

[Install]
WantedBy=multi-user.target
